.alert {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 3px;
    color: #fff;

    &.info {
        background: color('blue-grey', 'lighten-3');
    }

    &.success {
        background: color('teal', 'accent-4');
    }

    &.warning {
        background: color('orange', 'accent-4');
    }

    &.error {
        background: color('red', 'accent-4');
    }

    ul {
        margin: 0;
    }

    a {
        border-bottom: 2px dotted rgba(0, 0, 0, 0.4);
        font-weight: bold;
        color: rgba(0, 0, 0, 0.6);

        &:hover {
            border-bottom-style: solid;
        }
    }
}
