body.forum {
    tr.category {
        &:not(.top) {
            td:first-child {
                position: relative;
                padding-left: 20px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 5px;
                    background: color('grey', 'lighten-3');
                }
            }

            a.title {
                font-weight: bold;
                color: color('blue-grey', 'base');
            }
        }

        &.top {
            a.title {
                font-size: 18px;
            }
        }
    }

    #category {
        #threads {
            td {
                vertical-align: top;
            }
        }
    }

    #thread {
        .post {
            a.author-name {
                font-size: 19px;
            }

            .body {
                vertical-align: top;
            }
        }

        tr {
            [type="checkbox"] + label {
                margin: 0 0 -8px 5px;
            }
        }
    }
}
