nav {
    position: relative;
    z-index: 1000;
    background: transparentize($primary-color, 0.1);

    a.brand-logo {
        img {
            display: block;
        }
    }

    .avatar.tiny {
        margin-top: -2px;
    }

    .nav-wrapper > ul:not(.side-nav) > li.active {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            right: 0;
            display: block;
            height: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            background: $link-color;
        }
    }
}

.editor-toolbar:not(.fullscreen) {
    margin-top: 40px;
}

.row {
    .col.tab-content {
        padding-top: 30px;
    }
}

.xdsoft_datetimepicker {
    padding: 15px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .25);

    .xdsoft_datepicker {
        td {
            &.xdsoft_current {
                background: $link-color;
                box-shadow: none;
            }

            &.xdsoft_today {
                color: $link-color;
            }

            &:hover {
                background: $secondary-color !important;
            }
        }
    }

    .xdsoft_timepicker {
        .xdsoft_time_box {
            border: none;

            .xdsoft_time_variant .xdsoft_time {
                &:hover {
                    background: $secondary-color !important;
                }

                &.xdsoft_current {
                    box-shadow: none;
                    background: $link-color;
                }
            }

            .xdsoft_scrollbar {
                .xdsoft_scroller {
                    &:hover {
                        background: $secondary-color !important;
                    }
                }
            }
        }
    }
}

.slider {
    position: relative;
    height: auto;
    margin-bottom: 50px;
    transition: height 0.5s;

    li {
        a.download {
            position: absolute;
            top: 20px;
            right: 20px;
            transition: opacity 0.25s;
            opacity: 0;
        }

        img {
            border-radius: 3px;
        }

        span.caption {
            display: block;
            margin-top: -70px;
            font-family: 'Economica', sans-serif;
            color: #fff;
            font-size: 1.6rem;
            text-align: center;
            text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
        }

        &:hover {
            a.download {
                opacity: 1.0;
            }
        }
    }
}

.unslider {
    position: relative;

    .slider {
        margin-bottom: 0;
    }

    li {
        img {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    nav {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        z-index: 1;

        ol {
            li {
                height: 12px;
                width: 12px;
            }
        }
    }

    a.unslider-arrow {
        &.prev, &.next {
            display: block;
            height: 64px;
            width: 64px;
            line-height: 64px;
            background: $secondary-color;
            text-align: center;
            color: #fff;

            &:hover {
                background: $link-color;
            }
        }

        &.prev {
            left: 0;
            border-bottom-left-radius: 3px;
        }

        &.next {
            right: 0;
            border-bottom-right-radius: 3px;
        }
    }
}

.md-editor {
    border: none;

    &.active {
        box-shadow: none;
    }

    > textarea {
        padding-bottom: 15px;
        border-top: none;
        border-bottom: 1px solid color('grey', 'base');
        background: none;

        &:focus {
            background: none;
        }
    }

    > .md-preview {
        height: auto;
        min-height: 200px;
        padding: 5px 15px;
        border: none;
        background: color('grey', 'lighten-4');
    }

    .md-header {
        padding: 0;
        margin: 0 0 15px 0;
        background: 0;

        .btn-group {
            display: inline-block;

            &:first-child button:first-child {
                margin-left: 0;
            }

            &:last-child button:last-child {
                margin-right: 0;
            }

            button {
                padding: 1px 10px;
                margin: 0 2px;
                box-shadow: none;
            }
        }
    }

    .md-controls {
        padding: 6px;
    }
}

.btn-large {
    height: auto;
    min-height: 54px;
    padding: 12px 30px;
    line-height: 30px;
}

.card {
    &.large, &.medium, &.small {
        .card-content {
            max-height: 100%;
        }
    }
}
